.about-us {
  padding-top: 34px;
  padding-bottom: 61px;
}

.about-us__text {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.about-us__item {
  list-style: none;
  padding-top: 54px;
  padding-bottom: 29px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 334px;
    padding-bottom: 58px;

    &--eko {
      order: 1;
    }

    &--like {
      order: 5;
    }

    &--style {
      order: 3;
    }

    &--handmade {
      order: 2;
    }

    &--support {
      order: 4;
    }

    &--package {
      order: 6;
    }
  }

  @media (min-width: @desktop-width) {
    width: 351px;
  }
}

.about_us-icon {
  position: absolute;
  top: 0;

  path {
    fill: @blue;
  }
}


.about-us__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}

.about-us__inner.container {
  @media (min-width: @desktop-width) {
    padding-left: 225px;
  }
}

.about-us__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 44px;
  }
}
