.card-product {
  margin-top: 27px;
  margin-bottom: 29px;
  width: 260px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: 668px;
    flex-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    display: flex;
    flex-direction: column;
    margin-right: 51px;
    margin-bottom: 55px;
    height: auto;

    &:nth-of-type(3n + 3) {
      margin-right: 0;
    }
  }
}

.card-product__link {
  display: block;
  color: @black;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 28px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 2px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card-product__description,
.card-product__price {
  margin: 0;
}

.card-product__description {
  font-size: 13px;
  line-height: 30px;
  color: @greyish-brown;
  padding-bottom: 19px;
  margin-top: 5px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    margin-top: 6px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 13px;
  }
}

.card-product__price {
  font-weight: bold;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-left: 3px;
  }
}

.card-product__image {
  width: 260px;
  height: 195px;
  display: block;

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.card-product__description-wrapper {
  box-sizing: border-box;
  border: 1px solid @gray;
  width: 260px;
  padding-left: 27px;
  padding-right: 25px;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
    padding-top: 26px;
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-left: 25px;
    height: 100%;
    justify-content: space-between;
    flex-basis: auto;
    padding-bottom: 25px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card-product__price-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: auto;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    margin-top: 0;
  }

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: @gray;
    top: -24px;
  }
}

.card-product__image-link {
  display: block;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    max-height: 462px;
    width: 100%;
  }
}

.card-product__btn {
  margin-left: auto;
}

.card-product__btn-img {
  opacity: 0.2;

  &:hover,
  &:focus {
    color: @blue;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.card-product__name {
  margin-bottom: 24px;
}
