.catalog__inner.container {
  padding-top: 0;

  @media (min-width: @tablet-width) {
    padding-top: 81px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 129px;
  }
}
