.contacts {
  padding-top: 44px;
  padding-bottom: 39px;

  @media (min-width: @desktop-width) {
    height: 650px;
    width: 1050px;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
  }
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.contacts__item {
  list-style: none;
  color: @greyish-brown;
  line-height: 30px;
  display: flex;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-right: 55px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.contacts__link {
  text-decoration: none;
  color: @greyish-brown;
}

.contacts__text {
  margin: 0;
  width: 156px;

  @media (min-width: @tablet-width) {
    width: 219px;
  }
}

.contacts__name {
  margin-right: 26px;
}

.contacts__btn {
  color: @color-promo-list;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 20px;
  border: 2px solid @color-promo-list;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  margin-top: 39px;
}

@media (min-width: @desktop-width) {
  .contacts__inner.container {
    width: 525px;
    order: 1;
    margin: 0;
    padding-left: 175px;
  }
}

.contacts__button-inner {
  @media (min-width: @tablet-width) {
    padding: 0;
    width: 230px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    order: 2;
    margin: 0;
    margin-left: 175px;
  }
}
