.header-nav__item {
  padding-top: 21px;
  padding-bottom: 22px;
  border-top: 1px solid @gray;
  list-style: none;
}

.header-nav:last-child {
  border-bottom: 1px solid @gray;
}

.header-nav__item a {
  padding-left: 76px;
  text-decoration: none;
}

.header-nav ul {
  margin: 0;
  padding-left: 0;
}
