.order-form {
  padding-top: 20px;
  padding-bottom: 54px;

  @media (min-width: @tablet-width) {
    padding-top: 74px;
    padding-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 62px;
  }
}

.content-color {
  padding-top: 30px;
}

.order-form__description,
.order-form__required {
  margin: 0;
}

.order-form__description {
  font-size: 13px;
  color: @greyish-brown;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-bottom: 55px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 111px;
    width: 672px;
  }
}

.order-form__title {
  font-size: 17px;
  line-height: 16px;
  color: @blue;
  text-transform: uppercase;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 19px;
  }
}

.order-form__wrapper {
  @media (min-width: @tablet-width) {
    &--gray {
      background-color: @base-white;
    }
  }
}

.order-form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  position: relative;
  display: block;

  &--radio {
    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      border: 2px solid @black;
      border-radius: 50%;
      margin-left: -64px;
      top: -7px;

      @media (min-width: @tablet-width) {
        width: 48px;
        height: 48px;
        margin-left: -80px;
        top: -16px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
      width: 16px;
      height: 16px;
      background-color: @blue;
      border-radius: 50%;
      left: -52px;
      top: 5px;

      @media (min-width: @tablet-width) {
        width: 20px;
        height: 20px;
        left: -64px;
        top: 1px;
      }
    }
  }

  &--check {
    &::before {
      content: "";
      position: absolute;
      width: 36px;
      height: 36px;
      border: 2px solid @black;
      margin-left: -64px;
      top: -10px;

      @media (min-width: @tablet-width) {
        width: 50px;
        height: 48px;
        margin-left: -80px;
        top: -15px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: -55px;
      top: 0;
      display: none;
      transform: rotate(-45deg);
      width: 20px;
      height: 9px;
      border-left: 2px solid @black;
      border-bottom: 2px solid @black;

      @media (min-width: @tablet-width) {
        left: -67px;
        width: 29px;
        height: 14px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }
}

.order-form__item {
  padding-top: 12px;
  padding-bottom: 12px;
  list-style: none;
  margin: 0;
  padding-left: 64px;

  @media (min-width: @tablet-width) {
    padding-left: 80px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 24px;
  }


  &--field {
    min-height: 51px;
    border: none;
    border-bottom: 2px solid @black;

    @media (min-width: @tablet-width) {
      width: 100%;
      margin-left: 25px;
    }
  }

  &--color {
    margin-bottom: 19px;

    @media (min-width: @tablet-width) {
      min-width: 240px;
      box-sizing: border-box;
      padding: 0;
      padding-bottom: 17px;
      padding-top: 17px;
      padding-left: 80px;
      margin-bottom: 24px;
    }
  }

  &--text {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 21px;

    @media (min-width: @tablet-width) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 23px;
    }

    @media (min-width: @desktop-width) {
      width: 700px;
    }
  }

  &--tel {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 28px;

    @media (min-width: @tablet-width) {
      margin-bottom: 23px;
    }

    @media (min-width: @desktop-width) {
      width: 700px;
    }
  }

  &--textarea {
    resize: none;
    min-height: 125px;
    width: 240px;
    border: 2px solid @greyish-brown;
    padding: 0;
    margin-top: 20px;

    @media (min-width: @tablet-width) {
      width: 481px;
      margin-left: 167px;
      min-height: 132px;
    }

    @media (min-width: @desktop-width) {
      width: 696px;
    }
  }

  &--textarea[placeholder] {
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
    padding-top: 14px;
    padding-left: 16px;
    font-family: "Open Sans", "Arial", sans-serif;

    @media (min-width: @tablet-width) {
      font-size: 19px;
      line-height: 30px;
      padding-top: 6px;
    }
  }
}

.order-form__required {
  font-size: 14px;
  line-height: 16px;
  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__btn {
  text-transform: uppercase;
  border: 2px solid @color-promo-list;
  color: @color-promo-list;
  line-height: 16px;
  font-weight: 700;
  font-size: 17px;
  width: 100%;
  display: block;
  padding-top: 15px;
  padding-bottom: 16px;
  text-align: center;
  margin-top: 32px;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin: 0;
  }
}


.order-form__input[placeholder] {
  color: rgba(68, 68, 68, 0.3);
  font-size: 17px;
  line-height: 18px;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 19px;
    line-height: 18px;
    padding-left: 18px;
  }
}


.order-form__more {
  min-height: 142px;
  width: 256px;
  border: 2px solid @greyish-brown;
  margin: 0;
  padding: 0;
}

.order-form__list {
  margin: 0;
  padding: 0;
  margin-top: 18px;

  @media (min-width: @tablet-width) {
    margin-left: 167px;
    flex-grow: 1;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 111px;
  }

  &--color {
    @media (min-width: @tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &--tel {
    margin-top: 0;

    @media (min-width: @tablet-width) {
      margin-left: 142px;
    }
  }

  &--name {
    margin-top: 23px;
  }
}

.order-form__radio,
.order-form__check {
  appearance: none;
  position: absolute;
}

.order-form__check:checked + &::after,
.order-form__radio:checked + &::after {
  display: block;
}


.order-form__content {
  position: relative;

  &--type {
    @media (min-width: @tablet-width) {
      padding-bottom: 27px;
    }
  }

  &--color {
    padding-top: 29px;

    @media (min-width: @tablet-width) {
      padding-top: 48px;
      padding-bottom: 27px;
    }
  }

  &--name {
    padding-top: 10px;

    @media (min-width: @tablet-width) {
      padding-top: 25px;
      padding-bottom: 29px;
    }
  }

  &--number {
    padding-top: 8px;

    @media (min-width: @tablet-width) {
      padding-top: 49px;
      padding-bottom: 26px;
    }
  }

  &--more {
    padding-top: 10px;

    @media (min-width: @tablet-width) {
      padding-top: 32px;
    }
  }

  &--order {
    padding-top: 9px;

    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-top: 23px;
    }

    @media (min-width: @desktop-width) {
      flex-direction: row;
      width: 700px;
      margin-left: 111px;
    }
  }
}
