.order-form {
  outline: 1px solid red;
  padding-top: 30px;
  padding-bottom: 55px;
}

.order-form__description,
.order-form__input-wrapper,
.order-form__required {
  margin: 0;
}

.order-form__input-wrapper {
  border: 0;
}

.order-form__description {
  font-size: 13px;
  color: @greyish-brown;
}

.order__legend {
  font-size: 17px;
  line-height: 16px;
  color: @blue;
  text-transform: uppercase;
  font-weight: 700;
}

.order-form__fieldset {
  margin-top: 30px;
}

.order-form__fieldset label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.order-form__fieldset p {
  padding-top: 12px;
  padding-bottom: 12px;
}

.order-form__required {
  margin-top: 18px;
}

.order-form__btn {
  text-transform: uppercase;
  border: 2px solid @color-promo-list;
  color: @color-promo-list;
  line-height: 16px;
  font-weight: 700;
  font-size: 17px;
  width: 100%;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  margin-top: 31px;
}
