.order-form {
  padding-top: 20px;
  padding-bottom: 54px;

  @media (min-width: @tablet-width) {
    padding-top: 74px;
    padding-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 122px;
  }
}

.order-form__inner {
  position: relative;

  &.container {
    @media (min-width: @desktop-width) {
      padding: 0 113px;
    }
  }

  &--color.container {
    padding-top: 33px;

    @media (min-width: @tablet-width) {
      padding-top: 48px;
      padding-bottom: 27px;
    }
  }

  &--type.container {
    @media (min-width: @tablet-width) {
      padding-bottom: 27px;
    }
  }

  &--name.container {
    padding-top: 11px;

    @media (min-width: @tablet-width) {
      padding-top: 49px;
      padding-bottom: 29px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 48px;
    }
  }

  &--number.container {
    padding-top: 10px;

    @media (min-width: @tablet-width) {
      padding-top: 44px;
      padding-bottom: 26px;
    }
  }

  &--more.container {
    padding-top: 10px;

    @media (min-width: @tablet-width) {
      padding-top: 50px;
      padding-left: 217px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 225px;
      padding-top: 53px;
    }
  }

  &--order.container {
    padding-top: 9px;

    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-top: 48px;
    }

    @media (min-width: @desktop-width) {
      flex-direction: row;
      padding: 44px 225px 0;
    }
  }
}


.content-color {
  padding-top: 30px;
}

.order-form__description,
.order-form__required {
  margin: 0;
}

.order-form__description {
  font-size: 13px;
  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 700px;
  }
}

.order-form__title {
  font-size: 17px;
  line-height: 16px;
  color: @blue;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    margin-left: 20px;
    background-color: @blue;
    height: 1px;
    flex-grow: 1;
    display: flex;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 67px;

    &--type {
      top: 74px;
    }

    &--mail {
      top: 144px;
    }

    &--more {
      top: 67px;
      left: 52px;

      @media (min-width: @desktop-width) {
        left: 113px;
      }
    }
  }
}

.order-form__wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    &--gray {
      background-color: @base-white;
    }
  }

  &--type {
    padding-top: 24px;

    @media (min-width: @tablet-width) {
    position: relative;
    padding-top: 56px;
    }
  }
}

.order-form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  position: relative;
  display: block;
  cursor: pointer;

  &--field {
    @media (min-width: @tablet-width) {
      padding-right: 25px;
    }
  }

  &--radio {
    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      border: 2px solid @black;
      border-radius: 50%;
      margin-left: -64px;
      top: -7px;

      @media (min-width: @tablet-width) {
        width: 48px;
        height: 48px;
        margin-left: -80px;
        top: -16px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
      width: 16px;
      height: 16px;
      background-color: @blue;
      border-radius: 50%;
      left: -52px;
      top: 5px;

      @media (min-width: @tablet-width) {
        width: 20px;
        height: 20px;
        left: -64px;
        top: 1px;
      }
    }
  }

  &--check {
    &::before {
      content: "";
      position: absolute;
      width: 36px;
      height: 36px;
      border: 2px solid @black;
      margin-left: -64px;
      top: -10px;

      @media (min-width: @tablet-width) {
        width: 50px;
        height: 48px;
        margin-left: -80px;
        top: -15px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: -55px;
      top: 0;
      display: none;
      transform: rotate(-45deg);
      width: 20px;
      height: 9px;
      border-left: 2px solid @black;
      border-bottom: 2px solid @black;

      @media (min-width: @tablet-width) {
        left: -67px;
        width: 29px;
        height: 14px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }

  &:hover::before,
  &:focus::before {
    border-color: @blue;
  }

  &:active::before {
    color: @greyish-brown;
    opacity: 0.3;
  }
}

.order-form__item {
  padding-top: 12px;
  padding-bottom: 12px;
  list-style: none;
  margin: 0;
  padding-left: 64px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 80px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 24px;
  }

  &--color {
    margin-bottom: 19px;

    @media (min-width: @tablet-width) {
      width: 240px;
      box-sizing: border-box;
      padding: 0;
      padding-bottom: 17px;
      padding-top: 17px;
      padding-left: 80px;
      margin-bottom: 24px;
    }

    @media (min-width: @desktop-width) {
      width: 203px;
      margin-right: 59px;
    }
  }

  &--text {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 19px;

    @media (min-width: @tablet-width) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 21px;
    }

    @media (min-width: @desktop-width) {
      width: 700px;
      margin-bottom: 20px;
    }
  }

  &--tel {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 34px;

    @media (min-width: @tablet-width) {
      margin-bottom: 21px;
    }

    @media (min-width: @desktop-width) {
      width: 700px;
    }
  }

  &--textarea {
    resize: none;
    min-height: 125px;
    width: 240px;
    border: 2px solid @greyish-brown;
    padding: 0;
    margin-top: 28px;
    padding-top: 10px;
    padding-left: 16px;
    font-size: 19px;

    &:hover,
    &:focus {
      border-color: @blue;
      outline: none;
    }

    @media (min-width: @tablet-width) {
      width: 481px;
      min-height: 130px;
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      width: 680px;
      min-height: 129px;
    }

    &::placeholder {
      font-size: 17px;
      color: rgba(68, 68, 68, 0.3);
      font-family: "Open Sans", "Arial", sans-serif;

      @media (min-width: @tablet-width) {
        font-size: 19px;
      }
    }
  }
}

.order-form__required {
  font-size: 14px;
  line-height: 16px;
  color: @greyish-brown;

  @media (min-width: @tablet-width) {
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__btn {
  text-transform: uppercase;
  border: 2px solid @color-promo-list;
  color: @color-promo-list;
  line-height: 16px;
  font-weight: 700;
  font-size: 17px;
  width: 100%;
  display: block;
  padding-top: 15px;
  padding-bottom: 16px;
  text-align: center;
  margin-top: 34px;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin: 0;
  }
}

.order-form__more {
  min-height: 142px;
  width: 256px;
  border: 2px solid @greyish-brown;
  margin: 0;
  padding: 0;
}

.order-form__list {
  margin: 0;
  padding: 0;
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    padding-left: 167px;
    flex-grow: 1;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 113px;
    margin: 0;
  }

  &--color {
    @media (min-width: @tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
      justify-content: flex-start;
    }
  }

  &--tel {
    margin-top: 4px;

    @media (min-width: @tablet-width) {
      padding-left: 165px;
      margin-left: 0;
    }

    @media (min-width: @desktop-width) {
      padding-left: 112px;
    }
  }

  &--name {
    margin-top: 28px;

    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }
}

.order-form__check:checked + &::after,
.order-form__radio:checked + &::after {
  display: block;
}

.order-form__radio:focus + .order-form__label::before,
.order-form__check:focus + .order-form__label::before {
  outline: 3px solid @blue-d;
}

.order-form__input {

  font-size: 19px;

  &--field,
  &--number {
    min-height: 51px;
    border: none;
    border-bottom: 2px solid @black;

    @media (min-width: @tablet-width) {
      width: 483px;
    }

    @media (min-width: @desktop-width) {
      width: 626px;
    }
  }

  &--number {
    @media (min-width: @tablet-width) {
      background-color: @wind_chill;
    }

    @media (min-width: @desktop-width) {
      width: 682px;
    }
  }

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
    font-size: 17px;
    line-height: 18px;
    padding: 0;

    @media (min-width: @tablet-width) {
      font-family: "Open Sans", "Arial", sans-serif;
      font-size: 19px;
      line-height: 18px;
    }
  }

  &:hover,
  &:focus {
    border-color: @blue;
    outline: none;

    + .order-form__input-img {
      fill: @blue;
      fill-opacity: 1;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 18px;
  }
}

.order-form__input-img {
  position: absolute;
  fill-opacity: 0.2;

  &--tel {
    right: 9px;
    top: 22%;

    @media (min-width: @tablet-width) {
      right: 26px;
    }

    @media (min-width: @desktop-width) {
      right: 7px;
    }
  }

  &--mail {
    right: 4px;
    top: 22%;

    @media (min-width: @tablet-width) {
      right: 21px;
    }

    @media (min-width: @desktop-width) {
      right: 5px;
    }
  }
}
