.page-footer {
  background-color: @bg-color-footer;
}

.page-footer__inner.container {
  padding-top: 26px;
  min-height: 143px;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
  }
}

.page-footer__copiright-text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  margin-right: 25px;
}

.page-footer__copiright {
  display: flex;
  justify-content: center;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    margin: 0;
    transform: translateY(-5px);
  }
}

.page-footer__copiright-img {
  fill: @blue;
  transform: translateY(41%);
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin-right: 78px;
  }

  &[href]:hover,
  &[href]:focus {
    fill: @blue;
  }

  &[href]:active {
    fill-opacity: 0.3;
  }
}

.page-footer__inner {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.page-footer__logo-img {
  width: 102px;
  height: 34px;
}

.page-footer__copiright-link {
  text-decoration: none;
  color: @black;
  position: relative;

  &:active {
    opacity: 0.3;

    + .page-footer__copiright-img {
      opacity: 0.3;
    }
  }
}
