.page-main__header {
  min-height: 177px;
  text-align: center;
  background-color: @wind_chill;
  outline: 1px solid red;
}

.page-main__inner.container {
  padding: 0;
}

.page-main__title {
  padding-top: 76px;
}
