.production {
  position: relative;
}

.production__video {
  background-image: url("../../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 260px;
  height: 150px;
}

.production__video-button {
  background-image: url("../../img/icon-play.svg");
  width: 101px;
  height: 77px;
  border: 0;
  background-color: transparent;
  position: absolute;
  left: 43%;
  top: 29%;
}

.production_description {
  font-size: 13px;
  color: @greyish-brown;
  margin: 0;
  margin-top: 30px;
  padding-left: 34px;
}

.production_btn {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  border: 2px solid @color-promo-list;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  color: @greyish-brown;
  margin: 29px 34px 33px 34px;
}

.production__title {
  margin: 0;
  padding: 29px 43px 26px 91px;
}

.production__wrapper {
  border: 1px solid #f1f1f1;
  margin-top: 1px;
  margin-bottom: 1px;
}
