.production {
  margin-bottom: 58px;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 104px;
  }
}

.production__video-wrapper {
  position: relative;
  width: 258px;
  order: 2;

  @media (min-width: @tablet-width) {
    width: 668px;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    width: 682px;
  }
}

.production__video-button {
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  width: 101px;
  height: 77px;
  border: 0;
  background-color: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.7;
  }
}

.production__description {
  font-size: 13px;
  color: @greyish-brown;
  margin: 0;
  margin-top: 26px;
  padding-left: 34px;
  padding-right: 41px;
  order: 3;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 42px;
    margin-top: 7px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 52px;
    width: 223px;
  }
}

.production__btn {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  border: 2px solid @color-promo-list;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  color: @greyish-brown;
  margin: 25px 34px 33px 34px;
  order: 4;

  @media (min-width: @tablet-width) {
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    margin-top: 47px;
  }
}

.production__title {
  margin: 0;
  padding-left: 57px;
  font-size: 17px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 20px;
    padding-left: 64px;
  }

  @media (min-width: @desktop-width) {
    width: 148px;
    padding-left: 0;
  }
}

.production__wrapper {
  border: 1px solid @base-white;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-bottom: 12px;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: wrap;
    height: 455px;
    padding-bottom: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__video-image {
  width: 100%;
  display: block;
}

.production__header {
  order: 1;
  padding-top: 24px;
  padding-left: 33px;
  padding-bottom: 25px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 27px;
    top: 29px;

    @media (min-width: @tablet-width) {
      top: 33px;
    }

    @media (min-width: @desktop-width) {
      top: 40px;
    }
  }

  @media (min-width: @tablet-width) {
    order: 2;
    padding-top: 38px;
    padding-left: 42px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    padding-left: 52px;
    padding-top: 95px;
  }
}

.production__inner {
  @media (min-width: @desktop-width) {
    padding-top: 57px;
  }
}
