.promo-menu__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin: auto;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.promo-menu__inner.container {
  padding-top: 73px;
  min-height: 177px;

  @media (min-width: @tablet-width) {
    min-height: 226px;
    padding-top: 100px;
    margin-top: -71px;
  }

  @media (min-width: @desktop-width) {
    min-height: 255px;
    margin-top: -71px;
  }
}
