.reviews__text,
.reviews__author {
  margin: 0;
}

.reviews__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;

  @media (min-width: @tablet-width) {
    order: 1;
    font-size: 43px;
    line-height: 50px;
    transform: translateX(-5px);
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  list-style: none;
  margin: 0;
  margin-top: 25px;
  padding: 0;

  @media (min-width: @tablet-width) {
    order: 3;
    margin-top: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 770px;
    margin-top: 0;
  }
}

.reviews__text {
  color: @greyish-brown;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.reviews__author {
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 36px;
  }
}

.reviews__author-name {
  font-size: 17px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    line-height: 30px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}

.reviews__author-site {
  text-decoration: none;
  color: @greyish-brown;
  font-size: 17px;
  line-height: 30px;
  margin-top: 2px;
  display: block;
}

.reviews__link {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @color-promo-list;
  border: 2px solid @color-promo-list;
  padding-top: 14px;
  padding-bottom: 15px;
  display: block;
  margin-top: 38px;

  @media (min-width: @tablet-width) {
    order: 2;
    margin-left: auto;
    width: 172px;
    max-height: 52px;
    margin-top: 0;
    padding-top: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 6px;
  }
}

.reviews__inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 27px;
  padding-bottom: 50px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    background: url("../img/review@1x.jpg") no-repeat;
    background-size: 350px 457px;
    padding-top: 77px;
    padding-bottom: 130px;

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 73px;
    padding-left: 225px;
    background-position-x: 50px;
    min-height: 550px;
    padding-bottom: 140px;
  }
}

.reviews__toggles {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    order: 4;
    width: 175px;
    position: absolute;
    right: 50px;
    bottom: 135px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    bottom: 189px;
  }
}

.reviews__toggle {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  height: 52px;
  border: 1px solid @gray;

  @media (min-width: @tablet-width) {
    border: none;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: none;
  }

  &--back {
    width: 50%;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/icon-left-arrow.svg");
      width: 50px;
      height: 26px;
      left: 30%;
      bottom: 25%;
    }
  }

  &--forward {
    width: 50%;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/icon-right-arrow.svg");
      width: 50px;
      height: 26px;
      left: 30%;
      bottom: 25%;
    }
  }
}

.reviews__inner.container {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 7px;
    background-position-x: -8px;
    background-repeat: repeat-x;

    @media (min-width: @tablet-width) {
      background-size: 768px 17px;
      background-position-x: -20px;
      height: 17px;
    }

    @media (min-width: @desktop-width) {
      height: 23px;
      background-size: 1050px 21px;
      background-position-x: 25px;
      left: 50px;
      right: 50px;
    }
  }
}
