.reviews__content,
.reviews__text,
.reviews__author {
  margin: 0;
}

.reviews {
  padding-bottom: 45px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 69px;
  }
}

.reviews__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;

  @media (min-width: @tablet-width) {
    order: 1;
    font-size: 43px;
    line-height: 50px;
    transform: translateX(-5px);
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__content {
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    order: 3;
    margin-top: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 770px;
    margin-top: -4px;
  }
}

.reviews__text {
  color: @greyish-brown;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.reviews__author {
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 34px;
  }
}

.reviews__author-name {
  font-size: 17px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    line-height: 30px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}

.reviews__author-site {
  text-decoration: none;
  color: @greyish-brown;
  font-size: 17px;
  line-height: 30px;
  margin-top: 2px;
  display: block;
}

.reviews__link {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @color-promo-list;
  border: 2px solid @color-promo-list;
  padding-top: 14px;
  padding-bottom: 15px;
  display: block;
  margin-top: 45px;

  @media (min-width: @tablet-width) {
    order: 2;
    margin-left: auto;
    width: 172px;
    max-height: 52px;
    margin-top: 0;
    padding-top: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 6px;
  }
}

.reviews__inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    padding-top: 77px;
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 73px;
    padding-left: 225px;
    background-position-x: 50px;
    min-height: 457px;
  }
}

.reviews__toggles {
  align-self: center;
  margin: 0;
  margin-top: 43px;

  @media (min-width: @tablet-width) {
    order: 4;
    position: absolute;
    right: 50px;
    top: 353px;
    margin-top: 16px;
    transform: translateX(-18px);
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    top: 321px;
  }
}

.reviews__toggle {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 76px;

    @media (min-width: @tablet-width) {
      margin-right: 34px;
    }
  }
}
