.reviews__item,
.reviews__text,
.reviews__author {
  margin: 0;
}

.reviews {
  padding-bottom: 45px;
}

.reviews__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.reviews__list {
  margin-top: 38px;
}

.reviews__text {
  color: @greyish-brown;
  line-height: 30px;
}

.reviews__author {
  margin-top: 40px;
}

.reviews__author-name {
  font-size: 17px;
  font-weight: 700;
}

.reviews__author-site {
  text-decoration: none;
  color: @greyish-brown;
  font-size: 17px;
  line-height: 30px;
}

.reviews__link {
  text-transform: uppercase;
  border: 2px solid @color-promo-list;
  color: @color-promo-list;
  line-height: 20px;
  font-weight: 700;
  font-size: 17px;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}
