.site-navigation {
  margin: 0;
  padding-left: 0;
  position: relative;


  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    order: 1;
    width: 51%;
    z-index: 1;
    position: absolute;
    top: 100%;
  }

  @media (min-width: @desktop-width) {
    order: 0;
    width: 450px;
    background-color: #ffffff;
    position: unset;
  }
}

.site-navigation__link {
  text-decoration: none;
  padding-left: 45px;
  color: @black;
  font-weight: 700;
  font-size: 17px;
  padding-top: 26px;
  padding-bottom: 27px;
  display: block;

  &:nth-child(odd) {
    @media (min-width: @tablet-width) {
      margin-right: 36px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 0;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 0;
    margin-right: 36px;
    font-size: 15px;
    padding-top: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
    margin-right: 0;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-navigation__item {
  border-top: 1px solid @gray;
  list-style: none;

  @media (min-width: @tablet-width) {
    border: none;
  }

  &--catalog {
    border: unset;

    @media (min-width: @desktop-width) {
      padding-right: 35px;
      border-right: 1px solid @gray;
    }
  }

  &--order {
    @media (min-width: @desktop-width) {
      padding-left: 35px;
    }
  }
}
