
.social__item {
  list-style: none;

  &:not(:last-child) {
    margin-right: 41px;
  }
}

.social {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
}

.social__link {
  display: flex;

  &:hover,
  &:focus {
    fill: @blue;
  }

  &:active {
    fill-opacity: 0.3;
  }
}
