.weekly-product {
  padding-bottom: 36px;
}

.weekly-product__inner.container {
  padding-top: 34px;

  @media (min-width: @tablet-width) {
    padding-top: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 135px;
  }
}

.weekly-product__subtitle {
  font-weight: 700;
  line-height: 20px;
  color: @blue;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 70px;
    line-height: 17px;
    font-size: 17px;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    margin-left: 47px;
  }
}

.promo__list {
  color: @color-promo-list;
}

.weekly-product__options {
  line-height: 24px;

  @media (min-width: @tablet-width) {
    padding-bottom: 58px;
  }
}

.weekly-product__price,
.weekly-product__btn {
  color: @color-promo-list;
  font-weight: 700;
  font-size: 17px;
  align-self: center;
}

.weekly-product__price {
  text-align: center;
}

.weekly-product__btn {
  text-transform: uppercase;
  line-height: 20px;
  border: 2px solid @color-promo-list;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}

.weekly-product__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-right: 150px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-left: 58px;
    margin-right: auto;
  }
}

.weekly-product__cell {
  padding-top: 10px;
  padding-bottom: 10px;
}

.weekly-product__field,
.weekly-product__value {
  padding-top: 5px;
}

.weekly-product__value {
  padding-left: 20px;
}

.weekly-product__caption {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row-reverse;
    position: relative;
  }
}

.weekly-product__description {
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-bottom: 50px;
  }
}

.weekly-product__content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    min-height: 404px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    align-content: stretch;
    min-height: 496px;
  }
}

.weekly-product__wrapper-description {
  @media (min-width: @tablet-width) {
    width: 290px;
    padding-bottom: 100px;
  }
}

.weekly-product__order {
  margin-top: 0;

  @media (min-width: @tablet-width) {
    width: 290px;
    margin-top: -115px;
  }
}

.weekly-product__content-wrapper {
  @media (min-width: @desktop-width) {
    padding-left: 175px;
  }
}

.weekly-product__image {
  width: 260px;
  height: 315px;

  @media (min-width: @tablet-width) {
    width: 333px;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.weekly-product__image-wrapper {
  @media (min-width: @desktop-width) {
    margin-top: -140px;
  }
}
