.weekly-product {
  padding-top: 120px;
  outline: 1px solid red;
  padding-bottom: 36px;
}

.weekly-product__subtitle {
  color: @blue;
  font-weight: 700;
  margin: 0;
  line-height: 20px;
}

.promo__list {
  color: @color-promo-list;
}

.weekly-product__options {
  line-height: 24px;
}

.weekly-product__price,
.weekly-product__order {
  color: @color-promo-list;
  font-weight: 700;
  font-size: 17px;
}

.weekly-product__order {
  text-transform: uppercase;
  line-height: 20px;
  border: 2px solid @color-promo-list;
}
